{{#if category}}
<div class="w-75 mx-auto">
    <h1 class="text-uppercase p-5 font-weight-bold">{{format_category category.category_name}}</h1>
    <div class="card">
        {{#each category.products}}
        
        {{>products this}}
        
        {{/each}}
    </div>
</div>
{{else}}
<div class="w-75 mx-auto">
    <h1 class="text-uppercase p-5 font-weight-bold">ALL CATEGORIES</h1>
    <div id="user" class="card" attr={{user_id}}>
        
        {{#each products}}
        <div class="p-3 m-3 border d-flex justify-content-between align-items-center add-form">
                {{>products this}}
            <div>                
                <input id="quant" type="number" class="quant" value="1" onclick="addFormHandler({{id}}, this.value)">
                <label>&nbsp; Add to Cart</label>
                {{!-- <button id="add" class="btn btn-primary">Add to Cart</button> --}}
            </div> 
        </div>  
        {{/each}}

    </div>
</div>
{{/if}}

<script src="/assets/js/categories.js"></script>