{{#if category}}
<div class="w-75 mx-auto">
    <h1 class="text-uppercase p-5 font-weight-bold">{{format_category category.category_name}}</h1>
    <div class="card">
        {{#each category.products}}
        
        {{>products this}}
        
        {{/each}}
    </div>
</div>
{{else}}
<div class="w-75 mx-auto">
    <h1 class="text-uppercase p-5 font-weight-bold">ALL CATEGORIES</h1>
    <div class="card">
        {{#each products}}
        
        {{>products this}}
        
        {{/each}}
    </div>
</div>
{{/if}}

<script src="/assets/js/categories.js"></script>