<main class="container my-5">
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">
        {{!-- Displaying the login or Sign up form in Cards --}}
            {{> auth }}
      </div>
</main>
    <script src="/assets/js/login.js"></script>
