
{{!-- Welcome to the user Dashboard in session  --}}
<div class="container my-5">
  <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">
    <div class="col-12 col-md-12 col-sm-12 mb-4 bg-success text-white">
      <h3>Your Cart</h3>
      <h5 class="small-text">User: {{username}}</h3>
    </div>
  </div>
</div>

<main class="container my-5">
      <div class="row row-cols-1 row-cols-md-1 row-cols-sm-1 justify-content-center">
        
        {{#each carts }}
          {{#each products}}
        {{!-- Here I have to look for each product. I need to make the route --}}
             <a class="text-decoration-none" href="/product/{{product_id}}">{{> my-cart }}</a>
          {{/each}}
        {{/each}}

      </div>
</main>                                      
   {{!--  <script src="/assets/js/locate.js"></script> --}}

