<header class="masthead">
        <div class="container">
            <div class="masthead-subheading text-white">Welcome To Sports.com!</div>
            <div class="masthead-heading text-uppercase text-white">It's Nice To Meet You</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#contact">Tell Me More</a>
        </div>
</header>