<header class="masthead">
        <div class="container">
            <div class="masthead-subheading text-white">Welcome To HomePlate.com!</div>
            <div class="masthead-heading text-uppercase text-white">where you can score big on the hottest deals on sports gear!</div>
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/#contact">Tell Me More</a>
        </div>
</header>

<section class="page-section bg-light" id="portfolio">
    <div class="container my-6 pb-5">
        <div class="text-center">
            <h2 class="section-heading text-uppercase mt-5">&nbsp;</h2>
            <h2 class="section-heading text-uppercase mt-5">Categories</h2>
            <h3 class="section-subheading text-muted">Browse by Category</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    
                    <a class="portfolio-link" href="/categories/sportsware/">
                    
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/01-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Sportsware</div>
                        <div class="portfolio-caption-subheading text-muted">All in Clothes</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    
                    <a class="portfolio-link" href="/categories/hiking/">
                    
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/02-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Hiking Equipment</div>
                        <div class="portfolio-caption-subheading text-muted">Tools for Hiking</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="portfolio-item">
                    
                    <a class="portfolio-link" href="/categories/baseball/">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/03-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Baseball</div>
                        <div class="portfolio-caption-subheading text-muted">All in Baseball</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <div class="portfolio-item">
                    
                    <a class="portfolio-link" href="/categories/soccer/">
                    
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/04-thumbnail.jfif" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Soccer</div>
                        <div class="portfolio-caption-subheading text-muted">All in Soccer</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <div class="portfolio-item">
                    
                    <a class="portfolio-link" href="/categories/basketball/">
                    
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/05-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Basketball</div>
                        <div class="portfolio-caption-subheading text-muted">All in Basketball</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-item">
                    
                    <a class="portfolio-link" href="/categories/all/">
                    
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="assets/images/06-thumbnail.jpg" alt="" />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">All Products</div>
                        <div class="portfolio-caption-subheading text-muted">Browse All Of Our Products</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    <!-- Categories Grid-->

<section id="about" class="bg-success p-5 ">
    <h2 class="text-center text-white">About Us</h3>
    <div class="w-50 p-3 mx-auto text-center text-white">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus nobis dolor aliquid officiis nostrum quis modi, dolores voluptate quasi at debitis non sint unde, fugit, amet sit nisi ratione rem.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam omnis iusto ad aut temporibus tenetur id vel repellendus, cumque neque tempora quae, eum molestias vero voluptatibus repellat modi quasi ullam?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, commodi illum, et odit amet at itaque quod ut enim rerum possimus quo repellendus laborum ullam beatae. Facilis obcaecati debitis a!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt voluptate, odit perspiciatis ex quas dolorem fugit accusamus odio molestiae sunt, aspernatur amet obcaecati facere veritatis voluptatum laudantium itaque ipsam autem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quis cupiditate sequi voluptates aperiam consectetur natus veritatis autem consequatur nam repellendus doloribus ipsa, ab assumenda laboriosam doloremque dicta distinctio magni.
    </div>
</section>